.footer {
    margin-top: 50px;
    height: 130px;
    padding-top: 30px;
    background-color: $colour-secondary;

    &__content {
        font-size: 18px;
        text-align: center;
        color: $blue-white;
        font-weight: 600;
    }
}

footer {
    margin-top: 50px;
}