// colours
$colour-primary: #60D143;
$colour-secondary:#0931B8;
$midnight-blue: #000D3A;
$intense-blue: #3961E9;
$light-blue: #B1C5FF;
$blue-white: #DCE4FF;
$opacity-blue: #3962e922;
$linear-gradient: linear-gradient(90deg, rgb(4, 31, 118) 0%, rgba(9,9,121,1) 38%, rgb(61, 131, 43) 100%);

//breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 769px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;

